In [2]:
import numpy as np
import pandas as pd

ufo_data = pd.read_csv('complete_clean.csv', low_memory=False)

In [3]:
ufo_data

,datetime,city,state,country,shape,duration,comments,latitude,longitude,region,us_region
0,10/10/1949 20:30,san marcos,TX,US,cylinder,2700.0,This event took place in early fall around 194...,29.883056,-97.941111,US,Southeast
1,10/10/1949 21:00,lackland afb,TX,US,light,7200.0,1949 Lackland AFB&#44 TX. Lights racing acros...,29.384210,-98.581082,US,Southeast
2,10/10/1955 17:00,chester (uk/england),EUROPE,GB,circle,20.0,Green/Orange circular disc over Chester&#44 En...,53.200000,-2.916667,Europe,EUROPE
3,10/10/1956 21:00,edna,TX,US,circle,20.0,My older brother and twin sister were leaving ...,28.978333,-96.645833,US,Southeast
4,10/10/1960 20:00,kaneohe,HI,US,light,900.0,AS a Marine 1st Lt. flying an FJ4B fighter/att...,21.418056,-157.803611,US,West
...,...,...,...,...,...,...,...,...,...,...,...
16541,9/09/2012 20:00,murfreesboro,TN,US,sphere,180.0,6 red sphere shaped UFOs formed a pair of tria...,35.845556,-86.390278,US,Southeast
16542,9/09/2013 9:51,san diego,CA,US,light,4.0,2 white lights zig-zag over Qualcomm Stadium (...,32.715278,-117.156389,US,West
16543,9/09/2013 20:15,clifton,NJ,US,other,3600.0,Luminous line seen in New Jersey sky.,40.858433,-74.163755,US,Northeast
16544,9/09/2013 21:00,hamstead (hollyridge),NC,US,light,120.0,8 to ten lights bright orange in color large t...,34.367594,-77.710548,US,Southeast
16545,9/09/2013 21:15,nashville,TN,US,light,600.0,Round from the distance/slowly changing colors...,36.165833,-86.784444,US,Southeast